@import './animation-easing.css';

@plugin 'tailwindcss-motion';

@theme {
  --animate-collapsible-down: collapsible-down var(--tw-duration, 220ms)
    var(--tw-timing, ease-in-out);
  --animate-collapsible-up: collapsible-up var(--tw-duration, 220ms)
    var(--tw-timing, ease-in-out);
  --animate-rippling: rippling var(--tw-ripple-duration, 600ms) ease-out;
  --animate-spin: spin 1s linear infinite;
  --animate-backdrop-blur-in: backdrop-blur-in var(--tw-duration, 220ms) 
    var(--tw-timing, ease-out) forwards;
  --animate-backdrop-blur-out: backdrop-blur-out var(--tw-duration, 220ms)
    var(--tw-timing, ease-out) forwards;

  /* Keyframes */
  @keyframes collapsible-down {
    from {
      height: var(--collapsed-height, 0px);
    }

    to {
      height: var(--height, 0px);
    }
  }

  @keyframes collapsible-up {
    from {
      height: var(--height, 0px);
    }

    to {
      height: var(--collapsed-height, 0px);
    }
  }

  @keyframes path-dash {
    from {
      stroke-dashoffset: var(--dash-offset-from, 0);
    }
    to {
      stroke-dashoffset: var(--dash-offset-to, 0);
    }
  }

  @keyframes rippling {
    0% {
      opacity: 1;
    }

    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes skeleton-wave {
    to {
      background-position-x: -200%;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes backdrop-blur-in {
    from {
      opacity: 0;
      backdrop-filter: blur(0);
    }
    to {
      opacity: 1;
      backdrop-filter: blur(.3125rem);
    }
  }
  @keyframes backdrop-blur-out {
    from {
      opacity: 1;
      backdrop-filter: blur(.3125rem);
    }
    to {
      opacity: 0;
      backdrop-filter: blur(0);
    }
  }
}

@utility animate-check-dash {
  --dash-offset-from: -50;
  --dash-offset-to: 0;
  stroke-dasharray: 50;
  stroke-dashoffset: var(--dash-offset-from);
  animation: path-dash var(--tw-duration, 220ms) var(--tw-timing, ease-out)
    forwards;
}

@utility animate-indeterminate-dash {
  --dash-offset-from: 50;
  --dash-offset-to: 0;
  stroke-dasharray: 50;
  stroke-dashoffset: var(--dash-offset-from);
  animation: path-dash var(--tw-duration, 220ms) linear forwards;
}
