@layer components {
  .rui-btn {
    /* ===== solid ===== */
    &[data-variant='solid'] {
      &[data-color='primary'] {
        --rui-ripple-color: var(--color-rz-green-border);
        @apply bg-rz-green text-gray-03 border-rz-green-border hover:bg-rz-green-light active:bg-rz-green-dark;
      }

      &[data-color='default'] {
        --rui-ripple-color: var(--color-gray-4f);
        @apply bg-rz-neutral text-gray-ff border-rz-neutral-border
          hover:bg-rz-neutral-light
          active:bg-rz-neutral-dark;
      }

      &[data-color='danger'] {
        --rui-ripple-color: var(--color-rz-red);
        @apply bg-rz-red text-gray-ff border-rz-red-border
          hover:bg-rz-red-light
          active:bg-rz-red-dark;
      }

      &[data-color='warning'] {
        --rui-ripple-color: var(--color-rz-orange);
        @apply bg-rz-orange text-gray-ff border-rz-orange-border
          hover:bg-rz-orange-light
          active:bg-rz-orange-dark;
      }

      &[data-color='info'] {
        --rui-ripple-color: var(--color-rz-blue);
        @apply bg-rz-blue text-gray-ff border-rz-blue-border
          hover:bg-rz-blue-light
          active:bg-rz-blue-dark;
      }
    }

    /* ===== outlined ===== */
    &[data-variant='outlined'] {
      @apply bg-transparent;

      &[data-color='primary'] {
        --rui-ripple-color: var(--color-rz-green);
        @apply text-rz-green border-rz-green-border 
        hover:border-rz-green-light hover:text-rz-green-light 
        active:border-rz-green-dark active:text-rz-green-dark;
      }

      &[data-color='default'] {
        --rui-ripple-color: var(--color-gray-cc);
        @apply text-gray-90 border-rz-neutral-border
          hover:border-rz-neutral-light hover:text-gray-ff
          active:border-rz-neutral-dark active:text-rz-neutral;
      }

      &[data-color='danger'] {
        --rui-ripple-color: var(--color-rz-red);
        @apply text-rz-red border-rz-red-border
          hover:border-rz-red-light hover:text-rz-red-light
          active:border-rz-red-dark active:text-rz-red-dark;
      }

      &[data-color='warning'] {
        --rui-ripple-color: var(--color-rz-orange);
        @apply text-rz-orange border-rz-orange-border
          hover:border-rz-orange-light hover:text-rz-orange-light
          active:border-rz-orange-dark active:text-rz-orange-dark;
      }

      &[data-color='info'] {
        --rui-ripple-color: var(--color-rz-blue);
        @apply text-rz-blue border-rz-blue-border
          hover:border-rz-blue-light hover:text-rz-blue-light
          active:border-rz-blue-dark active:text-rz-blue-dark;
      }
    }

    /* ===== filled ===== */
    &[data-variant='filled'] {
      @apply border-transparent;

      &[data-color='primary'] {
        --rui-ripple-color: var(--color-rz-green);
        @apply bg-rz-green/15 text-rz-green
          hover:bg-rz-green-light/30
          active:bg-rz-green-dark/15;
      }

      &[data-color='default'] {
        --rui-ripple-color: var(--color-gray-4f);
        @apply bg-rz-neutral/15 text-gray-ff
          hover:bg-rz-neutral-light/30
          active:bg-rz-neutral-dark/15;
      }

      &[data-color='danger'] {
        --rui-ripple-color: var(--color-rz-red);
        @apply bg-rz-red/15 text-rz-red
          hover:bg-rz-red-light/30
          active:bg-rz-red-dark/15;
      }

      &[data-color='warning'] {
        --rui-ripple-color: var(--color-rz-orange);
        @apply bg-rz-orange/15 text-rz-orange
          hover:bg-rz-orange-light/30
          active:bg-rz-orange-dark/15;
      }

      &[data-color='info'] {
        --rui-ripple-color: var(--color-rz-blue);
        @apply bg-rz-blue/15 text-rz-blue
          hover:bg-rz-blue-light/30
          active:bg-rz-blue-dark/15;
      }
    }

    /* ===== text ===== */
    &[data-variant='text'] {
      @apply border-none bg-transparent;

      &[data-color='primary'] {
        --rui-ripple-color: var(--color-rz-green);
        @apply text-rz-green
          hover:bg-rz-green-light/30 hover:text-rz-green-light
          active:bg-rz-green-dark/15;
      }

      &[data-color='default'] {
        --rui-ripple-color: var(--color-gray-8f);
        @apply text-gray-90
          hover:bg-rz-neutral-light/30 hover:text-gray-ff
          active:bg-rz-neutral-dark/15 active:text-gray-90;
      }

      &[data-color='danger'] {
        --rui-ripple-color: var(--color-rz-red);
        @apply text-rz-red
          hover:bg-rz-red-light/30 hover:text-rz-red-light
          active:bg-rz-red-dark/15;
      }

      &[data-color='warning'] {
        --rui-ripple-color: var(--color-rz-orange);
        @apply text-rz-orange
          hover:bg-rz-orange-light/30 hover:text-rz-orange-light
          active:bg-rz-orange-dark/15;
      }

      &[data-color='info'] {
        --rui-ripple-color: var(--color-rz-blue);
        @apply text-rz-blue
          hover:bg-rz-blue-light/30 hover:text-rz-blue-light
          active:bg-rz-blue-dark/15;
      }
    }

    /* ===== link ===== */
    &[data-variant='link'] {
      @apply border-none bg-transparent underline underline-offset-2;

      &[data-color='primary'] {
        --rui-ripple-color: var(--color-rz-green);
        @apply text-rz-green
          hover:text-rz-green-light
          active:text-rz-green-dark;
      }

      &[data-color='default'] {
        --rui-ripple-color: var(--color-gray-8f);
        @apply text-gray-90
          hover:text-gray-ff
          active:text-gray-90;
      }

      &[data-color='danger'] {
        --rui-ripple-color: var(--color-rz-red);
        @apply text-rz-red
          hover:text-rz-red-light
          active:text-rz-red-dark;
      }

      &[data-color='warning'] {
        --rui-ripple-color: var(--color-rz-orange);
        @apply text-rz-orange
          hover:text-rz-orange-light
          active:text-rz-orange-dark;
      }

      &[data-color='info'] {
        --rui-ripple-color: var(--color-rz-blue);
        @apply text-rz-blue
          hover:text-rz-blue-light
          active:text-rz-blue-dark;
      }
    }

    /* ===== icon ===== */
    &[data-variant='icon'] {
      @apply bg-transparent;

      &[data-color='primary'] {
        --rui-ripple-color: var(--color-rz-green);
        @apply text-rz-green
          hover:bg-rz-green-light/30 hover:text-rz-green-light
          active:bg-rz-green-dark/15;
      }

      &[data-color='default'] {
        --rui-ripple-color: var(--color-gray-8f);
        @apply text-gray-90
          hover:bg-rz-neutral-light/30 hover:text-gray-ff
          active:bg-rz-neutral-dark/15 active:text-gray-90;
      }

      &[data-color='danger'] {
        --rui-ripple-color: var(--color-rz-red);
        @apply text-rz-red
          hover:bg-rz-red-light/30 hover:text-rz-red-light
          active:bg-rz-red-dark/15;
      }

      &[data-color='warning'] {
        --rui-ripple-color: var(--color-rz-orange);
        @apply text-rz-orange
          hover:bg-rz-orange-light/30 hover:text-rz-orange-light
          active:bg-rz-orange-dark/15;
      }

      &[data-color='info'] {
        --rui-ripple-color: var(--color-rz-blue);
        @apply text-rz-blue
          hover:bg-rz-blue-light/30 hover:text-rz-blue-light  
          active:bg-rz-blue-dark/15;
      }
    }
  }
}
