@layer components {
  .rui-checkbox {
    @apply text-rui-text-secondary hover:text-rui-text-primary disabled:text-rui-text-secondary;
    &[disabled],
    &[data-disabled] {
      @apply opacity-(--disabled-opacity);
    }
  }

  .rui-checkbox-control {
    @apply bg-transparent border-rui-border-strong
    hover:border-rui-primary
    focus:border-rui-primary
    data-focus:shadow-(--shadow-rui-outline)
    active:bg-rui-primary-active
    data-[state=checked]:bg-rui-primary
    data-[state=checked]:border-rui-primary
    data-[state=indeterminate]:bg-rui-primary
    data-[state=indeterminate]:border-rui-primary;

    &[disabled],
    &[data-disabled] {
      @apply border-rui-border-strong bg-transparent hover:border-rui-border-strong;
      @apply data-[state=checked]:bg-rui-primary data-[state=checked]:border-rui-primary;
      @apply data-[state=indeterminate]:bg-rui-primary data-[state=indeterminate]:border-rui-primary;
      @apply data-[state=checked]:hover:bg-rui-primary data-[state=checked]:hover:border-rui-primary data-[state=indeterminate]:hover:bg-rui-primary data-[state=indeterminate]:hover:border-rui-primary;
      @apply active:border-rui-border-strong active:bg-transparent;
      @apply data-[state=checked]:active:bg-rui-primary data-[state=checked]:active:border-rui-primary data-[state=indeterminate]:active:bg-rui-primary data-[state=indeterminate]:active:border-rui-primary;
    }
  }

  .rui-checkbox-label {
    @apply text-rui-text-secondary hover:text-rui-text-primary;
    &[disabled],
    &[data-disabled] {
      @apply hover:text-rui-text-secondary;
    }
  }
}
