@layer components {
  .rui-menu-content {
    --border-radius: var(--radius);
    /** shadow & border */
    @apply data-theme-bordered:border-rui-border-subtle shadow-rui-popper;

    /** arrow */
    & [data-part='arrow'] {
      --arrow-background: var(--color-rui-surface-container);
      &[data-theme-surface='dark'] {
        --arrow-background: var(--color-rui-surface-container);
      }
    }
    & [data-part='arrow-tip'] {
      @apply bg-rui-surface-container data-theme-bordered:border-rui-border-subtle;
    }
  }

  /** bg & text */
  .rui-menu-content,
  .rui-menu-content-inner {
    @apply bg-rui-surface-container;
  }

  .rui-menu-item {
    @apply bg-transparent
    text-rui-text-secondary
    data-highlighted:bg-gray-ff/10
    data-highlighted:text-rui-text-primary
    data-[state=open]:bg-gray-ff/10
    data-[state=open]:text-rui-text-primary;

    &[data-type='radio'] {
      & .rui-radio-group-item-indicator[data-variant='checkbox'] {
        @apply fill-transparent stroke-rui-primary;
      }
    }
    &[data-type='checkbox'] {
      &[data-highlighted]:not([data-disabled]) .rui-checkbox-control {
        @apply border-rui-primary;
      }
      &[data-state='checked'] .rui-checkbox-indicator-checked {
        @apply stroke-rui-text-inverse;
      }
    }
  }

  .rui-menu-item-group-label {
    @apply text-rui-text-primary font-rz-bold border-rui-border-subtle;
  }

  .rui-menu-separator {
    @apply border-rui-border-subtle;
  }
}
