@layer components {
  .rui-pin-input-label {
    @apply text-rui-text-secondary;
  }

  .rui-pin-input-input {
    --default-border-color: var(--color-rui-input-border);
    --hover-border-color: var(--color-rui-input-border-hover);
    --focus-border-color: var(--color-rui-input-border-focus);

    @apply bg-transparent border-(--default-border-color) text-rui-input-text transition-colors;
    @apply hover:border-(--hover-border-color);

    &:focus,
    &[data-focused] {
      @apply border-(--focus-border-color) hover:border-(--focus-border-color) ring-2 ring-(--focus-border-color)/30;
    }
    &[data-disabled] {
      @apply hover:border-(--default-border-color) bg-rui-surface-disabled;
    }
    &[data-invalid] {
      @apply border-rui-error ring-2 ring-rui-error/30;
      &:focus,
      &[data-focused] {
        @apply border-rui-error ring-2 ring-rui-error/30;
      }
    }
  }
  .rui-pin-input-input {
    @apply placeholder:text-rui-text-disabled selection:bg-[#204C19] selection:text-[#97C390];
  }
}
