@layer components {
  .rui-skeleton {
    @apply bg-rz-neutral-550;
    &[data-variant="wave"] {
      --tw-duration: 2s;
      @apply bg-linear-to-r from-rz-neutral-750 from-8% via-rz-neutral-550 via-18% to-rz-neutral-750 to-33%;
      background-size: 200% 100%;
      animation: skeleton-wave var(--tw-duration, 2s) linear infinite;
    }
  }
}