@layer components {
  .rui-skeleton {
    @apply bg-gray-55;
    &[data-variant="wave"] {
      --tw-duration: 2s;
      @apply bg-linear-to-r from-gray-33 from-8% via-gray-55 via-18% to-gray-33 to-33%;
      background-size: 200% 100%;
      animation: skeleton-wave var(--tw-duration, 2s) linear infinite;
    }
  }
}