@layer components {
  .rui-toggle-group {
    @apply border-h44;
  }
  .rui-toggle-group-item {
    @apply text-rui-toggle-text bg-h1a border-h44
      hover:bg-h33 hover:border-h4c hover:ring-h4c hover:text-rui-toggle-text-hover
      active:bg-h24 active:text-rui-toggle-text-active;

    &[data-state='on'] {
      @apply bg-rz-green-dark text-hff border-rz-green-border
        hover:bg-rz-green hover:border-rz-green-border
        active:bg-rz-green-dark active:text-ha7;
    }
  }
}
