@layer components {
  .rui-toggle {
    @apply text-rui-toggle-text bg-rui-surface-container border-gray-28
      hover:bg-rui-surface-hover hover:border-gray-4c hover:ring-gray-4c hover:text-rui-toggle-text-hover
      active:bg-gray-24 active:text-rui-toggle-text-active;

    &[data-state='on'] {
      @apply bg-rui-primary-active text-rui-text-primary border-rui-primary-border
        hover:bg-rui-primary hover:border-rui-primary-border
        active:bg-rui-primary-active active:text-gray-a7;
    }
  }
}
