@layer components {
  .rui-toggle-group {
    @apply border-rz-neutral-675;
  }
  .rui-toggle-group-item {
    @apply text-rui-toggle-text bg-rui-surface-container border-rz-neutral-675
      hover:bg-rui-surface-hover hover:border-rz-neutral-625 hover:ring-rz-neutral-625 hover:text-rui-toggle-text-hover
      active:bg-rz-neutral-825 active:text-rui-toggle-text-active;

    &[data-state='on'] {
      @apply bg-rui-primary-active text-rui-text-primary border-rui-primary-border
        hover:bg-rui-primary hover:border-rui-primary-border
        active:bg-rui-primary-active active:text-rz-neutral-150;
    }
  }
}
